<a href="https://colab.research.google.com/github/sebasanchez3101-cell/protecto-ciencia-de-datos/blob/main/db_SQLite_inventario1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Gestión Básica de Inventario con SQLite3

**Autor:johan sebastian sanchez g..**\
Bogotá, Colombia \
Actualizado: 09/10/2025 \
_Nota: Código ajustado para su ejecución en Google Colaboratory_\

## Instalar librerías SQLite3

In [43]:
%%shell
sudo apt-get install sqlite3
# Ejecuta comandos de terminal.
# Instala o verifica la instalación del motor de base de datos SQLite3 en el entorno.

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
sqlite3 is already the newest version (3.37.2-2ubuntu0.5).
0 upgraded, 0 newly installed, 0 to remove and 38 not upgraded.

## Crear la base de datos y una tabla de inventario

In [44]:
import sqlite3
import random

# Crear la base de datos con SQlite
conn = sqlite3.connect('productos.db')
c = conn.cursor()
# Crea un objeto cursor para poder ejecutar comandos SQL.

#parte 1
## pregunta 1
###Parte 1: Conceptos y Creación de la Base de Datos
1. En la sección “Crear la base de datos y una tabla de inventario”, observe la
línea sqlite3.connect('productos.db'). ¿Qué acción realiza este comando si el
archivo productos.db no existe? ¿Y si ya existe?
si el archivo no existe SQlite se conecta a la base de datos y el comando lo creara automaticamente en el directorio actual donde podra crear tablas y datos
si el archivo ya existe:SQlite se conecto con la base de datos existentes permitiendo realizar operaciones sobre ella(consultas,insercione entre otras)


2. En esa misma sección, se crea un "cursor" con c = conn.cursor(). ¿Cuál es la
función de este objeto? ¿Por qué motivo no se ejecutan los comandos directamente
sobre el objeto de conexión (conn)?
 El cursor es un objeto que permite interactuar con la base de datos. Se utiliza para ejecutar comandos SQL y recuperar los resultados. Actúa como un manejador para una única operación SQL la conexion representa la sesion con la base de datos pero los cursores son necesarios para mantener el estado de las operaciones  y pueden a ver varios a la vez

In [45]:
import sqlite3

# Conexión
conn = sqlite3.connect('productos.db')
c = conn.cursor()

# Eliminar la tabla si existe
c.execute('DROP TABLE IF EXISTS inventario')

# Crear la tabla
c.execute('''
CREATE TABLE inventario (
    id INTEGER PRIMARY KEY,
    nombre TEXT,
    categoria TEXT,
    precio REAL,
    cantidad INTEGER,
    proveedor TEXT,
    fecha_ingreso DATE,
    ubicacion TEXT
)
''')

# Confirmar y cerrar
conn.commit()
conn.close()

print("Tabla creada exitosamente.")

Tabla creada exitosamente.

##Parte 1: Conceptos y Creación de la Base de Datos
3. Dentro del código para crear la tabla, la columna id se define como INTEGER
PRIMARY KEY. ¿Qué dos funciones importantes cumple esta instrucción para
dicha columna?
esta actúa como un identificador único para cada fila de la tabla, asegurando que no existan dos registros con el mismo valor en dicha columna.esta columna se convierte internamente en un alias del campo especial ROWID, que SQLite utiliza para identificar de forma automática cada fila.

In [46]:
import sqlite3
conn = sqlite3.connect('tu_base_de_datos.db')

# Conexión
# Conecta a una base de datos de ejemplo. Si 'tu_base_de_datos.db' no existe, la crea.
c = conn.cursor()

In [47]:
c.execute("SELECT name FROM sqlite_master WHERE type='table'")
print(c.fetchall())
# Consulta la tabla maestra de SQLite para listar todas las tablas creadas.
# Recupera todos los resultados de la consulta

[]

In [48]:
import sqlite3
import random
import os

# Eliminar la base de datos si está bloqueada (solo para pruebas)
if os.path.exists('inventario.db'):
    os.remove('inventario.db')

# Conexión con timeout para evitar bloqueos
conn = sqlite3.connect('inventario.db', timeout=10)
c = conn.cursor()

# Crear tabla
c.execute('''
    CREATE TABLE IF NOT EXISTS inventario (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        nombre TEXT,
        categoria TEXT,
        precio REAL,
        cantidad INTEGER,
        proveedor TEXT,
        fecha_ingreso TEXT,
        ubicacion TEXT
    )
''')

# Función para generar productos de ejemplo
def generar_producto():
    nombres = ["Producto", "Artículo", "Objeto"]
    categorias = ["Electrónica", "Hogar", "Jardín", "Moda", "Deportes"]
    proveedores = ["Proveedor1", "Proveedor2", "Proveedor3"]
    ubicaciones = ["Almacén A", "Almacén B", "Almacén C"]

    nombre = random.choice(nombres) + str(random.randint(1, 10000))
    categoria = random.choice(categorias)
    precio = round(random.uniform(10.0, 500.0), 2)
    cantidad = random.randint(1, 100)
    proveedor = random.choice(proveedores)
    fecha_ingreso = f"2023-{random.randint(1, 12):02d}-{random.randint(1, 28):02d}"
    ubicacion = random.choice(ubicaciones)

    return (nombre, categoria, precio, cantidad, proveedor, fecha_ingreso, ubicacion)

# Generar y agregar 1000 productos
productos = [generar_producto() for _ in range(1000)]

# Inserción eficiente
c.executemany('''
    INSERT INTO inventario (nombre, categoria, precio, cantidad, proveedor, fecha_ingreso, ubicacion)
    VALUES (?, ?, ?, ?, ?, ?, ?)
''', productos)

# Guardar y cerrar
conn.commit()
c.close()
conn.close()

print(" ¡1000 productos insertados exitosamente!")

 ¡1000 productos insertados exitosamente!

#Parte 2: Consultas y Análisis de Datos
1. Escriba la consulta SQL necesaria para seleccionar únicamente las
columnas nombre, categoria y precio de todos los productos que pertenecen
al 'Proveedor1'.

In [49]:
import sqlite3
import pandas as pd

# Conexión a la base de datos existente
conn = sqlite3.connect('inventario.db')

# Consulta solo los productos del proveedor 1
query = "SELECT * FROM inventario WHERE proveedor = 'Proveedor1'"

# Cargar los resultados en un DataFrame
df = pd.read_sql_query(query, conn)

# Cerrar la conexión
conn.close()

# Mostrar los primeros registros
print(df.head())  # Muestra los primeros 5 productos del Proveedor1

   id        nombre    categoria  precio  cantidad   proveedor fecha_ingreso  \
0   5   Artículo558  Electrónica  163.18        68  Proveedor1    2023-09-11
1  11  Producto3981        Hogar  440.12        48  Proveedor1    2023-04-02
2  17  Producto7713         Moda  243.06        23  Proveedor1    2023-11-28
3  23  Producto7515         Moda  287.62        13  Proveedor1    2023-12-22
4  25  Producto8903         Moda  475.74        45  Proveedor1    2023-12-09

   ubicacion
0  Almacén C
1  Almacén B
2  Almacén C
3  Almacén B
4  Almacén B

#Parte 1: Conceptos y Creación de la Base de Datos
4. En el bloque de código que genera e inserta 10,000 productos, se
utiliza c.executemany(). ¿Cuál es la principal ventaja de usar este método en lugar
de un bucle for que llame a c.execute() repetidamente?
El método executemany() en SQLite es más eficiente que usar un bucle for con varias llamadas a execute(), porque prepara la sentencia SQL una sola vez y la ejecuta con todos los valores de forma secuencial. Esto reduce la carga de trabajo, mejora la velocidad

5. Al final del bloque que inserta los datos generados, se usan los
comandos conn.commit() y conn.close(). ¿Qué sucedería con los datos si el
programador olvidara incluir la línea conn.commit()?
Si se olvida ejecutar conn.commit(), los cambios hechos en la base de datos no se guardan de forma permanente. SQLite mantiene las modificaciones en una transacción temporal y, al cerrar la conexión sin confirmar, realiza un rollback, es decir, revierte todo. Como resultado, los datos insertados o modificados se pierden.

In [50]:
print("Base de datos creada y llenada con éxito.")

Base de datos creada y llenada con éxito.

## Consulta para mostrar todos los productos creados

In [51]:
import sqlite3

# Conectar a la base de datos
conn = sqlite3.connect('productos.db')
c = conn.cursor()

# Consultar todos los productos
c.execute('SELECT * FROM inventario')
productos = c.fetchall()

# Imprimir los productos
for producto in productos:
    print(producto)

# Cerrar la conexión
conn.close()

## Realizar consulta y transferir a dataframe

In [52]:
import sqlite3
import pandas as pd

# Conectar a la base de datos
conn = sqlite3.connect('productos.db')

# Realizar la consulta y cargar los resultados en un DataFrame
query = "SELECT * FROM inventario WHERE precio > 450"
df_productos = pd.read_sql_query(query, conn)

# Mostrar el DataFrame
print(df_productos)

# Cerrar la conexión
conn.close()

Empty DataFrame
Columns: [id, nombre, categoria, precio, cantidad, proveedor, fecha_ingreso, ubicacion]
Index: []

#Parte 2: Consultas y Análisis de Datos
2. En la sección “Realizar consulta y transferir a dataframe”, se
utiliza pd.read_sql_query(). ¿Qué ventajas ofrece este método de Pandas en
comparación con el proceso visto en la sección “Consulta para mostrar todos los
productos creados”?

In [53]:
# Muestra las primeras 5 filas del DataFrame 'df_productos'.
# Es útil para verificar rápidamente el contenido y la estructura de los datos cargados.
df_productos.head()

Empty DataFrame
Columns: [id, nombre, categoria, precio, cantidad, proveedor, fecha_ingreso, ubicacion]
Index: []

## Nueva consulta

In [54]:
import sqlite3
import pandas as pd

# Conectar a la base de datos
conn = sqlite3.connect('productos.db')

# Realizar la consulta y cargar los resultados en un DataFrame
query = "SELECT * FROM inventario WHERE precio > 480 AND cantidad <5"
df_productos = pd.read_sql_query(query, conn)

# Mostrar el DataFrame
print(df_productos)


# Cerrar la conexión
conn.close()

Empty DataFrame
Columns: [id, nombre, categoria, precio, cantidad, proveedor, fecha_ingreso, ubicacion]
Index: []

El método pd.read_sql_query() convierte directamente los resultados de una consulta SQL en un DataFrame de Pandas, lo que facilita el análisis de datos. Además, detecta automáticamente los tipos de datos, evita recorrer los resultados manualmente y permite usar todas las herramientas de Pandas para filtrar, analizar y visualizar la información con mayor facilidad.

3. En la sección “Nueva consulta”, modifique la variable query para que, en lugar de
mostrar productos con precio > 450 Y cantidad > 25, muestre aquellos que cumplan
la condición precio > 480 O cantidad < 5.

## Insertar nuevo producto

In [55]:
# Datos del nuevo producto
nuevo_producto = (
    None,  # SQLite genera un nuevo id automáticamente si la columna es autoincrement
    'NuevoProducto123',
    'Electrónica',
    249.99,
    20,
    'ProveedorX',
    '2024-04-16',
    'Almacén D'
)

# Conexión con la DB
conn = sqlite3.connect('productos.db')
c = conn.cursor()

# Insersión de nuevo producto
c.execute('INSERT INTO inventario VALUES (?, ?, ?, ?, ?, ?, ?, ?)', nuevo_producto)

# Guardar (commit) los cambios y cerrar conexión con la DB
conn.commit()
conn.close()

#Parte 3: Manipulación de Datos y Depuración
1. En la sección “Insertar nuevo producto”, al ejecutar la inserción se usan signos de
interrogación (?) como marcadores de posición. ¿Por qué se considera una buena
práctica de seguridad usar estos marcadores?
Usar marcadores ? mejora la seguridad, evitando la inyección SQL al separar los datos del código. Además, hace el código más claro y reutilizable, ya que se puede usar la misma sentencia con diferentes valores.

## Insertar nuevo producto desde Excel

### Crear tabla excel de nuevos productos

In [56]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

np.random.seed(0)
num_prods = 5000

# Productos nuevos
nombres = ['Producto' + str(i) for i in range(num_prods)]
categorias = np.random.choice(['Electrónica', 'Hogar', 'Jardín', 'Moda', 'Deportes'], num_prods)
precios = np.round(np.random.uniform(10.0, 500.0, num_prods), 2)
cantidades = np.random.randint(1, 100, num_prods)
proveedores = np.random.choice(['Proveedor1', 'Proveedor2', 'Proveedor3'], num_prods)
fechas = [datetime.today() - timedelta(days=np.random.randint(0, 365)) for _ in range(num_prods)]
ubicaciones = np.random.choice(['Almacén A', 'Almacén B', 'Almacén C'], num_prods)

# DataFrame
df = pd.DataFrame({
    'Nombre': nombres,
    'Categoría': categorias,
    'Precio': precios,
    'Cantidad': cantidades,
    'Proveedor': proveedores,
    'Fecha de Ingreso': pd.to_datetime(fechas),
    'Ubicación': ubicaciones
})

print(df.head())

# Guardar el DataFrame en un archivo Excel
df.to_excel('nuevos_productos_inventario.xlsx', index=False)

      Nombre    Categoría  Precio  Cantidad   Proveedor  \
0  Producto0     Deportes  489.97        77  Proveedor1
1  Producto1  Electrónica  347.86        78  Proveedor3
2  Producto2         Moda   10.40        93  Proveedor2
3  Producto3         Moda  402.25        51  Proveedor3
4  Producto4         Moda  445.18        50  Proveedor1

            Fecha de Ingreso  Ubicación
0 2025-06-06 04:39:57.272334  Almacén B
1 2025-03-11 04:39:57.272380  Almacén C
2 2024-12-17 04:39:57.272396  Almacén B
3 2025-08-14 04:39:57.272408  Almacén A
4 2024-11-30 04:39:57.272418  Almacén A

### Agregar datos de tabla excel al inventario

In [57]:
import pandas as pd

# Leer archivo Excel
ruta_archivo = '/content/nuevos_productos_inventario.xlsx'
df = pd.read_excel(ruta_archivo)

# Verificación de formatos (tipo de dato)
# Precio a float
if df['Precio'].dtype != 'float':
    df['Precio'] = df['Precio'].astype(float)

# Fecha de Ingreso a datetime
if df['Fecha de Ingreso'].dtype != 'datetime64[ns]':
    df['Fecha de Ingreso'] = pd.to_datetime(df['Fecha de Ingreso'], errors='coerce')

# Verificar y corregir fechas no válidas, usando la fecha de hoy
df['Fecha de Ingreso'].fillna(pd.Timestamp.today(), inplace=True)

df.head()

/tmp/ipython-input-1041989223.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Fecha de Ingreso'].fillna(pd.Timestamp.today(), inplace=True)

,Nombre,Categoría,Precio,Cantidad,Proveedor,Fecha de Ingreso,Ubicación
0,Producto0,Deportes,489.97,77,Proveedor1,2025-06-06 04:39:57.272,Almacén B
1,Producto1,Electrónica,347.86,78,Proveedor3,2025-03-11 04:39:57.272,Almacén C
2,Producto2,Moda,10.40,93,Proveedor2,2024-12-17 04:39:57.272,Almacén B
3,Producto3,Moda,402.25,51,Proveedor3,2025-08-14 04:39:57.272,Almacén A
4,Producto4,Moda,445.18,50,Proveedor1,2024-11-30 04:39:57.272,Almacén A

#Parte 3: Manipulación de Datos y Depuración
2. En la subsección “Agregar datos de tabla excel al inventario”, el código primero valida y convierte el tipo de dato de las columnas 'Precio' y 'Fecha de Ingreso'. ¿Por qué es fundamental realizar estas validaciones antes de intentar la inserción en la base de datos?
Validar los tipos asegura la consistencia de la base, evita errores de ejecución y mantiene la calidad de los datos. También permite manejar correctamente las fechas y formatos, garantizando que los valores se almacenen y consulten sin problemas.

In [61]:
import sqlite3
import pandas as pd

# Leer el archivo Excel
df = pd.read_excel('nuevos_productos_inventario.xlsx')

# Convertir a lista de tuplas, omitiendo el id (se autoincrementa)
datos = []
for _, row in df.iterrows():
    datos.append((
        row['Nombre'],
        row['Categoría'],
        float(row['Precio']),
        int(row['Cantidad']),
        row['Proveedor'],
        row['Fecha de Ingreso'].strftime('%Y-%m-%d'),  # Convertir a string en formato fecha
        row['Ubicación']
    ))

# Conexión a la base de datos
conn = sqlite3.connect('productos.db')
c = conn.cursor()

# Insertar todos los datos de una vez
c.executemany('''
    INSERT INTO inventario (nombre, categoria, precio, cantidad, proveedor, fecha_ingreso, ubicacion)
    VALUES (?, ?, ?, ?, ?, ?, ?)
''', datos)

conn.commit()
conn.close()

In [63]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('productos.db')

# Consulta SQL para calcular el valor total por categoría
query = """
SELECT
    categoria,
    SUM(precio * cantidad) as valor_total
FROM inventario
GROUP BY categoria
ORDER BY valor_total DESC
"""

df_valor = pd.read_sql_query(query, conn)
print(df_valor)

conn.close()

     categoria  valor_total
0     Deportes  13120332.65
1       Jardín  12832482.35
2         Moda  12817255.83
3  Electrónica  12796825.90
4        Hogar  12792859.84

3. ¡Error en el código! En el último bloque de código, bajo la subsección “Agregar
datos de tabla excel al inventario”, hay un error que impedirá su correcta
ejecución.
 A) Identifique el error en la línea c.execute(...) y explique por qué es un
error.
 B) Corrija la línea para que el código funcione como se espera
Error: El código intentaba insertar un valor None en id, que es INTEGER PRIMARY KEY.
Corrección: No incluir id en el INSERT, dejando que SQLite lo genere automáticamente.